{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Login</h3>
            </div>
            <div class="card-body">
                <form action="{{ url_for('login') }}" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.email.label() }}
                    <div class="input-group form-group">
                        {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid", placeholder="Email") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="form-control", placeholder="Email") }}
                        {% endif %}
                    </div>
                    {{ form.password.label() }}
                    <div class="input-group form-group">
                        {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid", placeholder="Password") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control", placeholder="Password") }}
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary btn-block mt-4") }}
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a class="ml-1" href="{{ url_for('register') }}">Register here</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}